
/* VU-HOME */
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#jumhome {
	height: 450px;
	background-size: cover;
	background-position: center;
	
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(10px);
	text-align: center;
	color: #fff;
}
.content h1{
	font-size: 30px;
	margin-top: 20px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #ffff00;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #ffff00;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}

h1{
	text-align: center;
	font-weight: 300;
}

#pdashboard {
	text-align: center;
	margin-bottom: 32px;
    
}

#img {
    border-radius: 8px;
    background-size: cover;
    object-fit: cover;
}


/* About US */

#skm {
	margin-top: 5%;
	font-weight: bold;
}

.body {
	font-family: Helvetica, Sans-Serif;
}

#txtau {
	width: 600px;
}

#visimisi {
	font-style: italic;
	font-weight: bold;
}

#table_number {
	width:  50px;
	text-align: center;
}

#footer1 {
	position: absolute;
	width: 100px;
	height: 100px;

}

/* PORTFOLIO */

#bg {
	width: 1250px;
	margin: auto;

}

div.jumbotron {
	height: 1600px;
	background-color: white;
}

body {
	background-color: #F1F1F1;
}

.column {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px 20px 20px 20px;
    height: 380px;
    width: 530px;
    
    }

.column img {
	border-radius: 20px 20px 20px 20px;
	height: 380px;
    width: 530px;
    object-fit: cover;
    
}

h5 {
	text-align: center;
	font-style: italic;
}

/* CONTACT US */
#jum-contact{
	background-image: url('img/contactus.jpg');
	height: 500px;
}

#kelas {
	margin-top: 80px;
}

.col-2 {
	float: left;
	text-align: center;
	padding: 10px;
}

.kategori {
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
	height: 150px;
	display: flex;
}

.boxcontact {
	margin: auto;
	width: 100%;
	border: 3px solid green;
	padding: 10px;
}

#jumbo-kontak {
	height: 666px;
	background-size: cover;
	background-position: center;
}

.form{
    width: 250px;
    line-height:35px;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    outline-style: none;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.form::placeholder{
    color: slategrey ;

}

#col1 {
	text-align: center;
	margin-top: 120px;
	width: 450px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(6px);
	border-radius: 50px;
	-webkit-backdrop-filter: blur(6px);
	height: 400px;
}

.row {
	padding-left: 20px;
	padding-right: 20px;
}


/* HOME NEWWWWW */
.boxhome {
	border: 1px solid;
	width: 300px;
	height: 300px;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	padding: 10px;
  }
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }